{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 4 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Формы(POST)</h1>
    <div>Тема лабораторной - Формы(POST). Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab4/div-form"> Деление чисел</a> 
        </li>
        <li>
            <a href="/lab4/summa-form">Сумма чисел</a>
        </li>

        <li>
            <a href="/lab4/multiplication-form">Умножение чисел</a>
        </li>

        <li>
            <a href="/lab4/subtraction-form"> Вычитание чисел</a>
        </li>

        <li>
            <a href="/lab4/exponentiation-form">Возведение в степень</a>
        </li>

        <li>
            <a href="/lab4/tree">Счетчик деревьев</a>
        </li>

        <li>
            <a href="/lab4/login"> Авторизация </a>
        </li>

        <li>
            <a href="/lab4/fridge"> Холодильник </a>
        </li>

        <li>
            <a href="/lab4/seed"> Зерно </a>
        </li>
{% endblock %}