<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='lab1/main.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='lab1/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='lab1/favicon-16x16.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='lab1/favicon-32x32.ico') }}">
    <title>Никита Кем. {% block lab %}{% endblock %}</title>
    {% block script %} {% endblock %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }} <br>
        <a href="{{ url_for('menu') }}">Меню</a>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        &copy; Никита Кем, ФБИ-22, 3 курс, 2024
    </footer>
</body>
</html>